
block content
    h3=title
    div.table-responsive
        form(action='paypal/payment', method='POST')
            h1
                img(src="https://cdn.tgdd.vn/Products/Images/42/50920/dien-thoai-di-dong-apple-iphone-4S-dienmay.com-b.jpg")
            p Iphone 4s
            h4 25.00 USD
            button.btn.btn-default(type='submit') Buy