@use '../Login/Login.module.scss';

.wrapper {
    .title {
        margin-bottom: 16px;
    }
}

.desc {
    color: var(--primary-700, #5f4c49);
    font-size: 20px;
    font-weight: 400;
    line-height: 150%; /* 36px */
    margin-bottom: 36px;
}

.form {
    .btn-cancel {
        margin: 0px;
        border: 1px solid var(--primary-200, #ccc3bc);
        background: var(--secondary-50, #faf5eb);
        color: #000;
    }
}

.input_product {
    margin-bottom: 25px;
    position: relative;
    width: 100%;

    .label-product {
        display: inline-block;
        // width: 119px;
        text-transform: capitalize;
        font-size: 19px;
        font-weight: 600;
        margin-bottom: 12px;
    }

    input {
        font-size: 18px;
        // border: none;
        // outline: none;
        // border-bottom: 1px solid #333;
        width: 100%;

        color: #656464;
        padding: 16px 22px;
        border-radius: 40px;
        border: 1px solid #bcbec0;
        background: #fff;
        // width: 416px;
    }

    select {
        font-size: 17px;
        outline: none;
        border: none;
        padding: 5px;
        text-transform: capitalize;
        width: 300px;
    }
    .message_err {
        position: absolute;
        top: 100%;
        left: 0;
        display: inline-block;
        color: rgb(248, 118, 118);
    }
}

.alert-error {
    width: 100%;
    .alert-danger {
        width: 100%;
    }
}
