.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
    small {
        font-size: 0.5em;
    }
}

.responsive-table {
    li {
        border-radius: 3px;
        padding: 25px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 25px;
    }
    .table-header {
        font-weight: 700;
        color: #fff;
        background-color: darken(#c6b064, 10%);
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
    }
    .table-row {
        background-color: #ffffff;
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
        .col {
        }
    }
    .col-1 {
        flex-basis: 4%;
    }
    .col-2 {
        flex-basis: 12%;
    }
    .col-3 {
        flex-basis: 12%;
    }
    .col-4 {
        flex-basis: 20%;
    }
    .col-5 {
        flex-basis: 12%;
    }
    .col-6 {
        flex-basis: 12%;
    }
    .col-7 {
        flex-basis: 12%;
    }
    .col-8 {
        flex-basis: 12%;
    }

    @media all and (max-width: 767px) {
        .table-header {
            display: none;
        }
        .table-row {
        }
        li {
            display: block;
        }
        .col {
            flex-basis: 100%;
        }
        .col {
            display: flex;
            padding: 10px 0;
            &:before {
                color: #6c7a89;
                padding-right: 10px;
                content: attr(data-label);
                flex-basis: 50%;
                text-align: right;
            }
        }
    }
}

.name {
    display: block;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    /* padding-top: 10px; */
    text-overflow: ellipsis;
    white-space: nowrap;
    // width: 138px;
}

.status_btn_admin {
    border: 1px solid #bebbbb;
    margin: 0 10px;
    width: 90px;
    display: flex;
    padding: 4px 8px;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
}

.status_btn {
    border: 1px solid #bebbbb;
    margin: 0 10px;
    width: 90px;
    display: flex;
    padding: 4px 8px;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;

    &:hover {
        opacity: 0.8;
    }
    &:active {
        opacity: 0.9;
    }

    &.lock {
        background-color: white;
        color: rgb(230, 145, 114);
        font-weight: 700;
    }
    &.unlock {
        background-color: white;
        color: rgb(146, 202, 150);
        font-weight: 700;
    }
}

.btn-detail {
    cursor: pointer;
    &:hover {
        font-weight: 700;
        color: #c6b064;
    }
}
