.wrapper {
    width: 25%;
}

.list-admin {
    position: sticky;
    top: 82px;
    border-radius: 8px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    li {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 16px;
        color: black;
        font-size: 1.6rem;
        // font-style: normal;
        font-weight: 500;
        // line-height: 20px; /* 125% */
        &:hover {
            font-weight: 700;
        }
        &.isActive {
            font-weight: 700;
            border-left: 3px solid var(--primary);
            background-color: lighten(#5f4c49, 50%);
            // border-radius: 8px;
            // border-top-left-radius: 8px;
            // border-bottom-left-radius: 8px;
        }
    }
}
