.container {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 130px 42px 130px;
  width: 100%;
  .navbar-brand {
    color: var(--grey-grey-700, #374151);
    font-size: 24px;
    font-weight: 400;
    line-height: 150%; /* 36px */
    text-decoration: none;
  }
  .search {
    display: flex;
    padding: 10px 0px 10px 10px;
    align-items: center;
    gap: 16px;
    border-radius: 20px;
    border: 1px solid var(--primary-500, #8a7268);
    width: calc(100% - 872px);
    .input {
      border: none;
      outline: none;
      background: var(--secondary-50, #faf5eb);
    }
  }
}
::placeholder {
  color: var(--grey-grey-400, #9ca3af);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.wrap {
  display: flex;
  align-items: center;
  gap: 18.424px;
}
