.wrapper {
    // margin: 0 40px;
}

.left_side {
    // width: 45%;
    width: 55%;
    // min-width: 200px;
    .add_imgSub_btn-off {
        display: none;
    }
}

.product_img {
    position: relative;

    // max-width: 500px;
    width: 100%;
    height: 500px;
    border-radius: 30px;
    background-color: #c6b064;
    .add_btn-on {
        display: inline-block;

        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }
    .img_main__add {
        position: absolute;
        font-size: 35px;
        right: 24px;
        top: 14px;
        color: white;
        z-index: 1;
    }
    .img-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .img {
            width: 100%;
            // height: 194px;
            object-fit: cover;
            // transform: rotate(-35deg);
            transition: 0.4s ease;
            filter: drop-shadow(10px 15px 30px rgba(68, 68, 68, 0.892));
        }
    }
}

.product_img--sub {
    margin-top: 8px;
    width: 100%;
    display: flex;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;

    .img_sub {
        position: relative;
        display: inline-block;
        // width: 33%;
        height: 143px;
        button {
            position: absolute;
            top: 8px;
            right: 8px;
            font-size: 15px;
            background-color: #333;
            color: #fff;
            padding: 1px 8px;
            border-radius: 50%;

            &:hover {
                background-color: rgb(255, 114, 114);
            }
            cursor: pointer;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
            border: 3px solid #c6b064;
        }
    }
}

.add_imgSub_btn-off {
    display: none;
}

.add_btn-on {
    display: inline-block;

    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

.btn-add-sub {
    // text-align: end;
}

.img_sub__add {
    // padding: 10px 20px;
    // font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 3px dashed #c6b064;
    // background-color: var(--primary);
    // justify-content: end;
    color: #c6b064;
}

.icon-upload {
    color: white;
}

.input_product {
    margin-bottom: 25px;
    position: relative;

    .label-product {
        display: inline-block;
        text-transform: capitalize;
        font-size: 19px;
        font-weight: 600;
        margin-bottom: 12px;
    }

    input {
        font-size: 18px;
        border: none;
        outline: none;
        border-bottom: 1px solid #333;
        width: 100%;
        color: #656464;
    }

    select {
        font-size: 17px;
        outline: none;
        border: none;
        padding: 5px;
        text-transform: capitalize;
        width: 300px;
        margin: 0 12px;
    }
    .message_err {
        position: absolute;
        top: 100%;
        left: 0;
        display: inline-block;
        color: rgb(248, 118, 118);
    }
}

.size-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(0, 1fr);
    grid-gap: 10px;
    overflow: hidden;
}

.input_textarea {
    height: 200px;
    width: 100%;
    padding: 15px;
}

.form-message {
    color: red;
    font-size: 1.2rem;
}

.addAtribute_btn {
    cursor: pointer;
    color: #c6b064;
    font-size: 20px;
    margin-left: 10px;
    &:hover {
        transform: scale(1.3);
    }
}

.type-size {
    margin-bottom: 20px;
    .type-size-comp {
        display: inline-block;
        margin-right: 20px;
        padding: 12px 20px;
        border-radius: 12px;
        color: var(--white);
        background-color: var(--button-color-primary);
        cursor: pointer;
        &.active {
            background-color: darken(#ab8a37, 20%);
        }
        &:hover {
            background-color: darken(#ab8a37, 20%);
        }
    }
}

.btn-submit {
    text-align: end;
}
