.wrapper_modal {
    margin-top: 50px;
    .wrapper-left-side {
        width: 40%;
        // min-width: 200px;
        .add_imgSub_btn-off {
            display: none;
        }
    }
    .wrapper-right-side {
        // width: 50%;
    }
}

.product_img {
    position: relative;
    height: 500px;
    width: 100%;
    // height: auto;
    border-radius: 30px;
    background-color: #c6b064;
    .add_btn-on {
        display: inline-block;

        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }
    .img_main__add {
        position: absolute;
        font-size: 35px;
        right: 24px;
        top: 14px;
        color: white;
        z-index: 1;
    }
    .img-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .img {
            width: 100%;
            // height: 194px;
            object-fit: cover;
            // transform: rotate(-35deg);
            transition: 0.4s ease;
            filter: drop-shadow(10px 15px 30px rgba(68, 68, 68, 0.892));
        }
    }
}
.input_textarea {
    height: 200px;
    width: 100%;
    padding: 10px;
}

.add_imgSub_btn-off {
    display: none;
}

.add_btn-on {
    display: inline-block;

    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}
.img_sub__add {
    // padding: 10px 20px;
    // font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 3px dashed #c6b064;
    // background-color: var(--primary);
    // justify-content: end;
    color: #c6b064;
}
.input_product {
    margin-bottom: 25px;
    position: relative;
    .label-product {
        display: inline-block;
        text-transform: capitalize;
        font-size: 19px;
        font-weight: 600;
        margin-bottom: 12px;
    }

    input {
        font-size: 18px;
        border: none;
        outline: none;
        border-bottom: 1px solid #333;
        width: 100%;
        color: #656464;
    }

    select {
        font-size: 17px;
        outline: none;
        margin-left: 12px;

        // border: none;
        padding: 5px;
        text-transform: capitalize;
        width: 300px;
        // background-color: whitesmoke;
    }
    .message_err {
        position: absolute;
        top: 100%;
        left: 0;
        display: inline-block;
        color: rgb(248, 118, 118);
    }
}
.size-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(0, 1fr);
    grid-gap: 10px;
    overflow: hidden;
}
.wrapper-order {
    // margin-top: 50px;
    .navigate {
        top: 82px;
        margin-bottom: 17px;
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        border-radius: 8px;
        padding: 12px;
        li {
            text-transform: capitalize;
            width: 18%;
            text-align: center;
            border-bottom: 3px solid transparent;
            border-radius: 8px;
            // padding: 9px 0;
            user-select: none; /* supported by Chrome and Opera */
            padding: 12px 18px;
            &:hover {
                // border-color: rgb(242, 127, 127);
                cursor: pointer;
                border-color: var(--primary);
                font-weight: 700;
                // color: var(--Type-Bright, #fff);
            }
        }

        .li_active {
            border-color: var(--primary);
            font-weight: 700;
        }
    }
}

.header-bill {
    border-bottom: 1px solid black;
}

.table {
    // min-height: 500px;
    // background-color: white;
    border-radius: 8px;
}

.order {
    padding: 25px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-bottom: 20px;
    .title-bill {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 24px;
        li {
            text-align: center;
        }
    }
}

.row-title {
    font-weight: 700;
    font-size: 1.6rem;
}

.body-bill {
}

.product {
    display: flex;
    align-items: center;
    padding: 10px 0;
    &:not(:last-child) {
        border-bottom: 1px solid black;
    }
}

.cart-item-infor {
    .cart-item-name {
        display: block;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        overflow: hidden;
        /* padding-top: 10px; */
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 138px;
        &:hover {
            color: var(--primary);
        }
    }
    .cart-item-price {
        font-size: 1.4rem;
    }
    .cart-item-quantity {
        // display: flex;
        // justify-content: space-between;
        font-size: 1.4rem;
        align-items: center;
    }
}

.message-status {
    padding: 20px 0;
    font-weight: 700;
}

.product-img {
    width: 70px;
    height: 70px;
    margin-right: 12px;

    // background-color: var(--primary);
    // height: 390px;
    .product-img-wrapper {
        // min-height: 250px;
        width: 100%;
        height: 100%;
        // border: 1px solid #ddd;
        img {
            width: 100%;
            background-color: #c6b064;
            height: 100%;
            object-fit: cover;
            // background-color: var(--white);
            border-radius: 12px;
            // border-radius: 6px;
        }
    }
}

.cart-item-infor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    .left-infor {
    }
    .right-infor {
    }
}

.body_modal {
    .user_info {
        font-size: 18px;
        margin-bottom: 50px;
        margin-top: 40px;
        p {
            margin: 0;
            color: #626161;

            span {
                color: #333;
                display: inline-block;
                text-transform: capitalize;
                width: 50%;
            }

            & + p {
                margin-top: 6px;
            }
        }
    }
}

.close_btn {
    position: absolute;
    right: 30px;
    top: 20px;
    padding: 6px 16px;
    border-radius: 10px;
    background-color: #444444;
    color: #fff;
    font-size: 18px;
}

.btn-change {
    position: absolute;
    right: 54px;
}

.order-empty {
    padding-bottom: 8px;
    height: 100%;
    // text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    img {
        width: 100%;
    }
    p {
        font-weight: 600;
        text-align: center;
        font-size: 2rem;
        padding: 4px 0 4px 0;
    }
}

// Modal Order
.wrapper {
    .title {
        font-size: 3rem;
        font-weight: 700;
        color: darken(#c6b064, 10%);
    }
}

.product_img--sub {
    margin-top: 8px;
    width: 100%;
    display: flex;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;

    .img_sub {
        position: relative;
        display: inline-block;
        // width: 33%;
        height: 143px;
        // &:hover{

        // }
        .change-pic {
            position: absolute;
            top: 8px;
            right: 8px;
            font-size: 15px;
            background-color: #333;
            color: #fff;
            padding: 1px 6px;
            border-radius: 50%;
            color: white;
            &:hover {
                background-color: var(--primary);
            }
            cursor: pointer;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
            border: 3px solid #c6b064;
        }
    }
}

.add_imgSub_btn-off {
    display: none;
}

.add_btn-on {
    display: inline-block;

    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

.product_img_sub {
    .img_sub {
        position: relative;
        display: inline-block;
        // width: 33%;
        button {
            position: absolute;
            top: 8px;
            right: 8px;
            font-size: 15px;
            background-color: #333;
            color: #fff;
            padding: 1px 8px;
            border-radius: 50%;

            &:hover {
                background-color: rgb(255, 114, 114);
            }
            cursor: pointer;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
            border: 3px solid #c6b064;
        }
    }
}

.content-change-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left-content {
        width: 33%;
        height: 100%;
        display: flex;
        align-items: center;
        .img_sub {
            position: relative;
            display: inline-block;
            // width: 33%;
            button {
                position: absolute;
                top: 8px;
                right: 8px;
                font-size: 15px;
                background-color: #333;
                color: #fff;
                padding: 1px 8px;
                border-radius: 50%;

                &:hover {
                    background-color: rgb(255, 114, 114);
                }
                cursor: pointer;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 8px;
                border: 3px solid #c6b064;
            }
        }
    }
    p {
        width: 33%;
        text-align: center;
    }
    .img-add-right {
        width: 33%;
        .product_img_sub {
            .img_sub {
                position: relative;
                display: inline-block;
                width: 100%;
                height: 160px;
                // width: 33%;
                button {
                    position: absolute;
                    top: 8px;
                    right: 8px;
                    font-size: 15px;
                    background-color: #333;
                    color: #fff;
                    padding: 1px 8px;
                    border-radius: 50%;

                    &:hover {
                        background-color: rgb(255, 114, 114);
                    }
                    cursor: pointer;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 8px;
                    border: 3px solid #c6b064;
                }
            }
        }
        .img_sub__add {
            display: flex;
        }
    }
}
