.wrap {
    background: var(--primary-50, #f5f2f1);
    padding-bottom: 80px;
}

.wrapper {
    // display: flex;
    // justify-content: space-between;
    // padding: 65px 124px 59px;
    .number-wrap {
        .pages {
            color: var(--grey-grey-800, #1f2937);
            font-size: 16px;
            font-weight: 800;
            letter-spacing: 0.32px;
        }
        .products {
            color: var(--grey-grey-600, #4b5563);
            font-size: 16px;
            font-weight: 400;
            line-height: 150%;
        }
    }
}

.sort-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    .text {
        color: var(--grey-grey-500, #6b7280);
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.32px;
    }
    .category {
        .name {
            color: var(--grey-grey-800, #1f2937);
            font-size: 16px;
            font-weight: 800;
            letter-spacing: 0.32px;
            margin-right: 8px;
        }
    }
}

.container {
    display: flex;
    justify-content: space-between;
}

.wrap-products {
    width: 70%;
    gap: 16px;
    .products-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        .product {
            border-radius: 6px;
            border: 1px solid var(--primary-500, #8a7268);
            // height: fit-content;
            // width: calc(100% /3 - 52px);
            // margin-right: 16px;
            // margin-bottom: 24px;
        }
    }
}

.product {
    position: relative;
    &:hover .rear-img {
        width: 100%;
        height: 300px;
        opacity: 1;
        z-index: 0;
    }
    &:hover .loved {
        opacity: 1;
        z-index: 0;
    }
}

.product-img {
    width: 100%;
    height: 300px;
    // height: 390px;
    .product-img-wrapper {
        // min-height: 250px;
        height: 100%;

        img {
            width: 100%;
            background-color: #fafafa;
            height: 100%;
            object-fit: cover;

            // border-radius: 6px;
        }
    }
}
.rear-img {
    opacity: 0;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: opacity 0.4s ease-out;
    -o-transition: opacity 0.4s ease-out;
    transition: opacity 0.4s ease-out;
}

.product-link {
    text-decoration: none;
    .img {
        width: 100%;
        border-radius: 6px;
    }
    .desc {
        color: var(--primary-950, #171212);
        font-size: 16px;
        line-height: 150%;
        margin: 17px 0px 4px 16px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
        line-clamp: 1;
        -webkit-box-orient: vertical;
    }
}

.wrap-all {
    display: flex;
    margin: 0px 0px 36px 16px;
    justify-content: space-between;
    .wrap-price {
        display: flex;
        flex-direction: column;
        .price {
            color: var(--primary-950, #171212);
            font-size: 18px;
            font-weight: 600;
            line-height: 32px; /* 177.778% */
        }
        .unused-price {
            color: var(--secondary-300, #d8bc7e);
            font-size: 18px;
            font-weight: 400;
            line-height: 32px;
            text-decoration: line-through;
        }
    }
    .wrap-orders-category {
        display: none;
        flex-direction: column;
        margin-right: 24px;
        margin-top: 6px;
        .order-number {
            color: var(--grey-grey-600, #4b5563);
            font-size: 16px;
            font-weight: 400;
        }
        .category-name {
            border-radius: 6px;
            background: var(--grey-grey-900, #111827);
            padding: 3px 12px;
            color: #fff;
            font-size: 12px;
            font-weight: 400;
        }
    }
}

.loved {
    // opacity: 0;
    position: absolute;
    padding: 12px;
    background: rgba(175, 160, 149, 0.5);
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    // z-index: 3;
    top: 10px;
    right: 10px;
}

.quantity-filter-wrapper {
    height: 58px;
    // width: 1400px;
    display: flex;
    justify-content: end;
    font-size: var(--font-size);
    color: var(--gray);
    font-weight: 400;
    position: relative;
    p {
        display: inline-block;
    }
    span {
        font-weight: 800;
        color: #000;
    }
    .title {
        padding: 0 12px;
    }
}

.dropdown {
    // width: 400px;
    position: relative;
    display: inline-block;
    // margin: 100px auto;
    .dropdown-content {
        top: 38px;
        width: 180px;
        display: none;
        position: absolute;
        left: -142px;
        background-color: white;
        z-index: 3;
        box-shadow: 0 6px 12px -7px rgba(171, 171, 171, 1);
        border: 1px solid #ddd;
        border-radius: 5px;
        .dropdown-item {
            padding: 10px;
        }
    }
    .dropdown-content.active {
        display: inline-block;
    }
}

.filter-name {
    color: #000;
    font-weight: 700;
    // padding-right: 4px;
    padding: 0 6px;
    cursor: pointer;
}

.dropdown-btn {
    cursor: pointer;
    &.active {
        color: #000;
        font-weight: 700;
    }
    &:hover {
        color: #000;
        font-weight: 700;
    }
}

.dropdown-item {
    &:hover {
        background-color: #ddd;
        cursor: pointer;
    }
    .option {
        display: inline;
        padding-left: 6px;
    }
}
