.wrapper {
    .navigate {
        position: sticky;
        top: 82px;
        margin-bottom: 17px;
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        border-radius: 8px;
        padding: 12px;
        li {
            text-transform: capitalize;
            width: 18%;
            text-align: center;
            border-bottom: 3px solid transparent;
            border-radius: 8px;
            // padding: 9px 0;
            user-select: none; /* supported by Chrome and Opera */
            padding: 12px 18px;
            &:hover {
                // border-color: rgb(242, 127, 127);
                cursor: pointer;
                border-color: var(--primary);
                font-weight: 700;
                // color: var(--Type-Bright, #fff);
            }
        }

        .li_active {
            border-color: var(--primary);
            font-weight: 700;
        }
    }
}

.responsive-table {
    li {
        border-radius: 3px;
        padding: 25px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 25px;
    }
    .table-header {
        font-weight: 700;
        color: #fff;
        background-color: darken(#c6b064, 10%);
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
    }
    .table-row {
        background-color: #ffffff;
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
        .col {
        }
    }
    .col-1 {
        flex-basis: 12%;
    }
    .col-2 {
        flex-basis: 12%;
    }
    .col-3 {
        flex-basis: 12%;
    }
    .col-4 {
        flex-basis: 12%;
    }
    .col-5 {
        flex-basis: 12%;
    }
    .col-6 {
        flex-basis: 12%;
    }
    .col-7 {
        flex-basis: 12%;
    }
    .col-8 {
        flex-basis: 12%;
    }

    @media all and (max-width: 767px) {
        .table-header {
            display: none;
        }
        .table-row {
        }
        li {
            display: block;
        }
        .col {
            flex-basis: 100%;
        }
        .col {
            display: flex;
            padding: 10px 0;
            &:before {
                color: #6c7a89;
                padding-right: 10px;
                content: attr(data-label);
                flex-basis: 50%;
                text-align: right;
            }
        }
    }
}

.name {
    display: block;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    /* padding-top: 10px; */
    text-overflow: ellipsis;
    white-space: nowrap;
    // width: 138px;
}

.notification {
    width: 100%;
    // text-align: center;
    display: flex;
    // align-items: center;
    justify-content: center;
    // height: 100%;
    border-top: 4px solid grey;
    border-bottom: 4px solid grey;

    // min-height: 400px;
    p {
        color: #5e5d5d;
        font-size: 30px;
        margin: 50px 0;
        text-align: center;
        text-transform: uppercase;
    }
}
