.wrapper {
    width: 50%;
}

.inputField {
    color: #333;
    display: block;
    align-items: center;
    margin-bottom: 24px;
    label {
        margin-bottom: 12px;
        font-size: 1.6rem;
        display: block;
        color: var(--text-secondary);
    }
    // Errors
    span {
        font-size: 1.2rem;
        line-height: 1.6rem;
        padding: 4px 0 0;
        color: red;
    }
    p {
        font-size: 1.2rem;
        line-height: 1.6rem;
        padding: 4px 0 0;
        color: red;
    }
}

.protected-password {
    position: relative;
    .eye {
        position: absolute;
        right: 16px;
        top: 4px;
        cursor: pointer;
    }
    input {
        // padding: 10px;
        font-size: 1.6rem;
    }
}
