.wrapper {
    width: 100%;
}

.thumbnail-2,
.thumbnail-1 {
    width: inherit;
}

.product-wrapper {
    // display: flex;
    // justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    img {
        // width: 23%;
    }
    .card {
        cursor: pointer;
        border-radius: 12px;
        width: 10%;
        height: 400px;
        position: relative;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &:hover .card-body {
            right: 0;
        }
    }
}

.card-body {
    // width: 100vh;
    // display: none;
    width: 100%;
    border-radius: 8px;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    // background-color: #ddd;
    @supports (backdrop-filter: blur(3px)) {
        backdrop-filter: blur(3px);
        background-color: rgba(0, 0, 0, 0.5); // Màu nền với độ mờ tạo bởi backdrop-filter
    }
    transition: 1s;
    .card-title {
        font-size: 3rem;
        font-weight: 600;
    }
    .card-sub-title {
        font-size: 2rem;
        /* padding: 10px 0; */
        margin-bottom: 30px;
    }
    .card-content {
        font-size: 1.8rem;
        line-height: 30px;
    }
    // background-color: rgba(255, 255, 255, 0.4);
}

.product-img {
    width: 70px;
    height: 70px;
    margin-right: 12px;
    // background-color: var(--primary);
    // height: 390px;
    .product-img-wrapper {
        // min-height: 250px;
        width: 100%;
        height: 100%;
        background-color: lighten(#c6b064, 10%);
        border-radius: 12px;
        // border: 1px solid #ddd;
        img {
            width: 100%;
            padding: 10px;
            height: 100%;
            object-fit: contain;
            // border: 1px solid black;
        }
    }
}

.brand-wrapper {
    margin: 20px 0;
}

.brand-title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    // justify-content: space-between;
    p {
        font-size: 3rem;
        font-weight: 700;
        color: var(--primary);
    }
    .more-prod {
        position: absolute;
        right: 0;
        &:hover {
            font-weight: 600;
        }
    }
}
