.responsive-table {
    li {
        border-radius: 3px;
        padding: 25px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 25px;
    }
    .table-header {
        font-weight: 700;
        color: #fff;
        background-color: darken(#c6b064, 10%);
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
    }
    .table-row {
        background-color: #ffffff;
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
        .col {
        }
    }
    .col-1 {
        flex-basis: 10%;
    }
    .col-2 {
        flex-basis: 4%;
    }
    .col-3 {
        flex-basis: 20%;
    }
    .col-4 {
        flex-basis: 12%;
    }
    .col-5 {
        flex-basis: 8%;
    }
    .col-6 {
        flex-basis: 8%;
    }
    .col-7 {
        flex-basis: 8%;
    }
    @media all and (max-width: 767px) {
        .table-header {
            display: none;
        }
        .table-row {
        }
        li {
            display: block;
        }
        .col {
            flex-basis: 100%;
        }
        .col {
            display: flex;
            padding: 10px 0;
            &:before {
                color: #6c7a89;
                padding-right: 10px;
                content: attr(data-label);
                flex-basis: 50%;
                text-align: right;
            }
        }
    }
}

.name {
    display: block;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    /* padding-top: 10px; */
    text-overflow: ellipsis;
    white-space: nowrap;
    // width: 138px;
}

.product-img {
    width: 70px;
    height: 70px;
    margin-right: 12px;
    // background-color: var(--primary);
    // height: 390px;
    .product-img-wrapper {
        // min-height: 250px;
        width: 100%;
        height: 100%;
        // border: 1px solid #ddd;
        img {
            width: 100%;
            background-color: #c6b064;
            height: 100%;
            object-fit: cover;
            // background-color: var(--white);
            border-radius: 12px;
            // border-radius: 6px;
        }
    }
}

.btn-hover {
    cursor: pointer;
    &:hover {
        font-weight: 700;
        color: #c6b064;
    }
}

.pagination {
    // display: flex;
    // justify-content: end;
    width: 100%;
}

.total-prod-search {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
    align-items: center;
    p {
        font-size: 1.6rem;
        font-weight: 700;
        span {
            font-weight: 500;
            color: #4b5563;
        }
    }
}

.right-side {
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.form-message {
    color: red;
    font-size: 1.2rem;
}

.notification {
    width: 100%;
    // text-align: center;
    display: flex;
    // align-items: center;
    justify-content: center;
    // height: 100%;
    border-top: 4px solid grey;
    border-bottom: 4px solid grey;

    // min-height: 400px;
    p {
        color: #5e5d5d;
        font-size: 30px;
        margin: 50px 0;
        text-align: center;
        text-transform: uppercase;
    }
}
