.navbar {
  width: 100%;
  padding: 24px 72px 32px 72px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  display: flex;
  background: #fafafa;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    .navbar-brand {
      color: var(--grey-grey-700, #374151);
      font-size: 24px;
      font-weight: 500;
      letter-spacing: 0.48px;
      text-decoration: none;
    }
  }
}

.search {
  height: 24px;
  flex-shrink: 0;
  border-bottom: 1px solid #9CA3AF;
  .input {
    border: none;
    background: #fafafa;
    margin: 0px 89px 5px 16px;
    outline: none;
  }
}

::placeholder {
color: var(--grey-grey-400, #9CA3AF);
font-size: 16px;
font-weight: 400;
letter-spacing: 0.32px;
}

.navbar-nav {
    display: flex;
    align-items: center;
    gap: 40px;
    .nav-link {
        color: var(--grey-grey-500, #6B7280);
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.32px;
        text-decoration: none;
    }
}
