.item-wrapper {
    background-color: #f2f2f2;
    width: 90%;
    // padding: 20px;
    // text-align: center;
    -webkit-box-shadow: 0 6px 12px -7px rgba(171, 171, 171, 1);
    box-shadow: 0 6px 12px -7px rgba(171, 171, 171, 1);
    -webkit-transition: -webkit-box-shadow 0.4s ease-out;
    transition: -webkit-box-shadow 0.4s ease-out;
    -o-transition: box-shadow 0.4s ease-out;
    transition: box-shadow 0.4s ease-out;
    transition:
        box-shadow 0.4s ease-out,
        -webkit-box-shadow 0.4s ease-out;
    position: relative;
    /* 10px là khoảng cách giữa các div */
    border-radius: 6px;
    border: 1px solid var(--Primary-500, #8a7268);
    margin-bottom: 50px;
    // position: relative;
    .loved {
        opacity: 1;
        position: absolute;
        padding: 12px;
        background: rgba(175, 160, 149, 0.5);
        border-radius: 6px;
        cursor: pointer;
        // z-index: 3;
        top: 10px;
        right: 10px;
    }
    &:hover {
        -webkit-box-shadow: 0 10px 12px -7px rgba(171, 171, 171, 1);
        box-shadow: 0 10px 12px -7px rgba(171, 171, 171, 1);
    }
}

.item-wrapper {
    &:hover .rear-img {
        width: 100%;
        height: 300px;
        opacity: 1;
        z-index: 0;
    }
    &:hover .loved {
        opacity: 1;
        z-index: 0;
    }
}

.product-img {
    width: 100%;
    height: 300px;
    // height: 390px;
    .product-img-wrapper {
        // min-height: 250px;
        height: 100%;

        img {
            width: 100%;
            background-color: #fafafa;
            height: 100%;
            object-fit: cover;

            // border-radius: 6px;
        }
    }
}
.rear-img {
    opacity: 0;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: opacity 0.4s ease-out;
    -o-transition: opacity 0.4s ease-out;
    transition: opacity 0.4s ease-out;
}

.content {
    padding: 10px;
    margin-bottom: 14px;
    .name {
        color: var(--Primary-950, #171212);
        font-size: 1.6rem;
        font-weight: 400;
        display: block;
        // line-height: 20px;
        overflow: hidden;
        /* padding-top: 10px; */
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 200px;
        &:hover {
            text-decoration: underline;
            font-weight: 500;
        }
    }
    .price {
        color: var(--Primary-950, #171212);
        font-size: 1.8rem;
        // font-style: normal;
        font-weight: 600;
    }
    .old-price {
        color: var(--Secondary-300, #d8bc7e);
        font-size: 1.8rem;
        font-weight: 400;
        // line-height: 32px;
        text-decoration-line: line-through;
    }
}
