.wrapper-order {
    .navigate {
        top: 82px;
        margin-bottom: 17px;
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        border-radius: 8px;
        padding: 12px;
        li {
            text-transform: capitalize;
            width: 18%;
            text-align: center;
            border-bottom: 3px solid transparent;
            border-radius: 8px;
            // padding: 9px 0;
            user-select: none; /* supported by Chrome and Opera */
            padding: 12px 18px;
            &:hover {
                // border-color: rgb(242, 127, 127);
                cursor: pointer;
                border-color: var(--primary);
                font-weight: 700;
                // color: var(--Type-Bright, #fff);
            }
        }

        .li_active {
            border-color: var(--primary);
            font-weight: 700;
        }
    }
}

.header-bill {
    border-bottom: 1px solid black;
}

.table {
    // min-height: 500px;
    // background-color: white;
    border-radius: 8px;
}

.order {
    padding: 25px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-bottom: 20px;
    .title-bill {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 24px;
        li {
            text-align: center;
        }
    }
}

.row-title {
    font-weight: 700;
    font-size: 1.6rem;
}

.body-bill {
}

.product {
    display: flex;
    align-items: center;
    padding: 10px 0;
    &:not(:last-child) {
        border-bottom: 1px solid black;
    }
}

.cart-item-infor {
    .cart-item-name {
        display: block;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        overflow: hidden;
        /* padding-top: 10px; */
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 138px;
        &:hover {
            color: var(--primary);
        }
    }
    .cart-item-price {
        font-size: 1.4rem;
    }
    .cart-item-quantity {
        // display: flex;
        // justify-content: space-between;
        font-size: 1.4rem;
        align-items: center;
    }
}

.message-status {
    padding: 20px 0;
    font-weight: 700;
}

.product-img {
    width: 70px;
    height: 70px;
    margin-right: 12px;
    // background-color: var(--primary);
    // height: 390px;
    .product-img-wrapper {
        // min-height: 250px;
        width: 100%;
        height: 100%;
        // border: 1px solid #ddd;
        img {
            width: 100%;
            background-color: #c6b064;
            height: 100%;
            object-fit: cover;
            // background-color: var(--white);
            border-radius: 12px;
            // border-radius: 6px;
        }
    }
}

.cart-item-infor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    .left-infor {
    }
    .right-infor {
    }
}

.body_modal {
    .user_info {
        font-size: 18px;
        margin-bottom: 50px;
        margin-top: 40px;
        p {
            margin: 0;
            color: #626161;

            span {
                color: #333;
                display: inline-block;
                text-transform: capitalize;
            }

            & + p {
                margin-top: 6px;
            }
        }
    }
}

.close_btn {
    position: absolute;
    right: 30px;
    top: 20px;
    padding: 6px 16px;
    border-radius: 10px;
    background-color: #444444;
    color: #fff;
    font-size: 18px;
}

.order-empty {
    padding-bottom: 8px;
    height: 100%;
    // text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    img {
        width: 100%;
    }
    p {
        font-weight: 600;
        text-align: center;
        font-size: 2rem;
        padding: 4px 0 4px 0;
    }
}

// Modal Order
.wrapper {
    .title {
        font-size: 3rem;
        font-weight: 700;
        color: darken(#c6b064, 10%);
    }
}
