.wrapper {
    padding: 0 30px;
    // width: 700px;
}

.overView {
    display: flex;
    margin-bottom: 20px;
    // min-width: 680px;
    // overflow-x: scroll;
    padding: 20px;
    gap: 20px;
    // justify-content: space-between;
    .color1 {
        background-color: #d8e8ee;
    }
    .color2 {
        background-color: #d4e892;
    }
    .color3 {
        background-color: #dcd0ed;
    }
    .color4 {
        background-color: #b7e3f6;
    }
}

.item_sumary {
    // background-color: coral;
    border-radius: 15px;
    background-color: #c5a356;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    width: 220px;
    min-width: 133px;
    // height: 100px;
    padding: 30px;
    margin: 0 5px;
    // margin-bottom: 8px;
    cursor: pointer;
    // box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    .item_header {
        display: flex;
        // justify-content: space-between;
        flex-direction: column;
        color: #4c4c4c;
        margin-bottom: 3px;
        text-transform: capitalize;
        p {
            font-weight: 700;
            color: white;
            font-size: 2.6rem;
        }
    }
    .sub-title {
        color: white;
    }
}

.notification {
    width: 100%;
    // text-align: center;
    display: flex;
    // align-items: center;
    justify-content: center;
    // height: 100%;
    // border-top: 4px solid grey;
    border-bottom: 4px solid grey;

    // min-height: 400px;
    p {
        color: #5e5d5d;
        font-size: 30px;
        margin: 50px 0;
        text-align: center;
        text-transform: uppercase;
    }
}

// tablet
@media only screen and (min-width: 46.25em) and (max-width: 78.25em) {
}

// mobile
@media only screen and (max-width: 46.1875em) {
}
